@model IEnumerable<CourseViewModel>

@{
  var categories = ViewData["Categories"] as List<CategoryViewModel>;
}

@foreach (var course in Model)
{
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img
        src="~/img/@(course.ImageUrl).webp"
        class="card-img-top"
        alt="Course Image"
      >
      <div class="card-body">
        <h5 class="card-title">@course.Name</h5>
        <p class="card-text">@course.Description</p>
        <p class="card-text">Price: @course.Price</p>
        <p class="card-text">Category: @categories?.FirstOrDefault(c => c.Id == course.CategoryId)?.Name </p>
        <a
          class="btn btn-primary"
          asp-controller="Course"
          asp-action="Details"
          asp-route-id="@course.Id"
        >View Details</a>
      </div>
    </div>
  </div>
}
