@model ModuleViewModel

@{
    var courses = ViewData["CoursesList"] as List<CourseViewModel>;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4 class="mb-4 mt-4 text-center">Create New Module</h4>
        <hr/>
        <form asp-action="Create" method="post">
            <div
                asp-validation-summary="ModelOnly"
                class="alert alert-danger">
            </div>

            <div class="mb-3">
                <label
                    asp-for="Name"
                    class="form-label">
                </label>
                <input
                    value="@Model.Name"
                    asp-for="Name"
                    class="form-control"/>
                <div class="form-text text-danger">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="mb-3">
                <label
                    asp-for="Number"
                    class="form-label">
                </label>
                <input
                    value="@Model.Number"
                    min="1"
                    asp-for="Number"
                    class="form-control"/>
                <div class="form-text text-danger">
                    <span asp-validation-for="Number"></span>
                </div>
            </div>

            <div class="mb-3">
                <label
                    asp-for="CourseId"
                    class="form-label">
                    Course
                </label>
                <select
                    asp-for="CourseId"
                    asp-items="@(new SelectList(courses, "Id", "Name"))"
                    class="form-select">
                </select>
            </div>
            <div class="mb-5 mt-4 d-flex justify-content-evenly align-items-center">
                <input
                    type="submit"
                    value="Create"
                    class="btn btn-primary"/>
                <a
                    asp-action="Index"
                    class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>