@model IEnumerable<ModuleViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Modules for course: @((ViewData["ModulCourse"] as CourseViewModel)?.Name)</h1>
        </div>
    </div>

    <div class="row">
        @foreach (var module in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">@module.Name</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
