@{
    ViewData["Title"] = "Payment Failed";
}

<div class="container my-5 vh-100">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="p-5 bg-light rounded">
                <h2 class="mb-4">Payment Failed</h2>
                <p class="mb-3">Unfortunately, the payment process failed. Please try again.</p>
                <a
                    asp-action="Index"
                    class="btn btn-primary w-100"
                >Back to Enrollments</a>
            </div>
        </div>
    </div>
</div>
