@model QuizQuestionViewModel

@{
    var answers = ViewData["Answers"] as List<QuizAnswerViewModel>;
    var quizzes = ViewData["Quizzes"] as List<QuizViewModel>;
}

<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">@Model.QuestionTitle</h4>
        </div>
        <div class="card-body">
            <div class="mb-4">
                <h5 class="card-title">Details</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <span class="fw-bold">Question Title:</span>
                        <span>@Model.QuestionTitle</span>
                    </li>
                    <li class="mb-2">
                        <span class="fw-bold">Quiz</span>
                        <span>@quizzes?.FirstOrDefault(q => q.Id == Model.QuizId)?.Name</span>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h5 class="card-title">Answers</h5>
                @if (answers != null && answers.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var answer in answers)
                        {
                            <li class="d-flex align-items-center mb-3">
                                <p class="mb-0 me-2">@answer.AnswerText</p>
                                @if (answer.IsCorrect)
                                {
                                    <span class="badge bg-success">Correct</span>
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p class="text-muted">No answers available.</p>
                }
            </div>
        </div>
        <div class="container mt-3 mb-3">
            <div class="d-flex justify-content-start">
                <a
                    class="btn btn-primary me-2"
                    asp-action="Edit"
                    asp-route-id="@Model?.Id"
                >Edit</a>
                <a
                    class="btn btn-secondary"
                    asp-action="Index"
                    asp-route-quizId="@Model?.QuizId"
                >Back to List</a>
            </div>
        </div>
    </div>
</div>
